@model Instagram.Models.RegisterViewModel
@{
    /**/

    ViewBag.Title = Strings.Register;
}


@if (User.Identity.IsAuthenticated)
{
    <h3>@Strings.User_already_logged_in</h3>
}
else
{
    <div class="row justify-content-center">
        <div class=" col-8"  style="padding-top:2em; padding-bottom: 2em;">
            <div class="card">
                <div class="card-header">
                    @Strings.Create_new_account
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Avatar, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">

                        <input type="file" name="Avatar" id="fileUpload" accept=".png,.jpg,.jpeg,.gif,.tif" />

                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.FullName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.AboutMe, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.AboutMe, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Sex, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <div class="form-inline">
                        @Html.RadioButtonFor(m => m.Sex, true, new { @class = "form-control", @id = "sex-male" })
                        @Html.Label("sex-male", Strings.Male)
                            &nbsp;
                        @Html.RadioButtonFor(m => m.Sex, false, new { @class = "form-control", @id = "sex-female" })
                        @Html.Label("sex-female", Strings.Female)
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <input type="submit" class="btn btn-success" value="@Strings.Register" />
                    </div>
                </div>
    }
                </div>
            </div>

        </div>
    </div>



}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
